div
    
    p(style="text-align:right") {{topRightCaption}}
div
    input(type="text" ng-keypress="press($event)")
    a(ui-sref="index.game", class="btn btn-primary") Play
    a(ui-sref="index.help", class="btn btn-primary") Help
div(ui-view="")