div.well(style="width: 50%; margin: 10% auto;")
	form(role="form" style="margin: 5% 10% 2% 10%")
		label Room Number
		input.form-control(type="text" ng-model="roomId")
	div.container-fluid
		div.col-sm-12
			button(class="btn btn-primary center-block" ng-click="joinRoom()" style="width: 100px") Join