div.well(style="width: 50%; margin: 10% auto;")
    form(role="form" style="margin: 5% 10% 0 10%")
        .form-group
            label(for="username") Username
            input.form-control(ng-model="username")
        .form-group
            label(for="pwd") Password
            input.form-control(type="password" ng-model="password")
    div.container-fluid
        button(ng-click="signup()" type="submit" class="btn btn-primary" style="width: 100px; float: right; margin-right: 10%") Sign Up