div.jumbotron
    div.container(style="margin: 0 100px 0 100px ")
        h3(style="text-align: right") Welcome to 
        h1(style="text-align: right") Ghost the Game!
        a(ng-href="/login")
            button(type="submit" class="btn btn-primary" style=" width: 100px; float: right") Login