doctype
html
    head
        base(href='/')
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app="app")
        //Placeholder for contents in another file
        block main-content
        include scripts